{% extends 'index.html' %}

{% block title %}Rates history{% endblock %}

{% block content %}

<table class="table table-striped">
     <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Currency</th>
        <th>Buy</th>
        <th>Sale</th>
        <th>From</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in object_list %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.created }}</td>
        <td>{{ rate.get_currency_display }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sale }}</td>
        <td>{{ rate.get_source_display }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
